<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CricketEventAndScoreManagement.Properties.Settings.CricketDBConnectionString"
            connectionString="Data Source=ASPIRE-F15\\SQLEXPRESS;Initial Catalog=CricketDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CricketEventAndScoreManagement.Properties.Settings.TeamDBConnectionString"
            connectionString="Data Source=ASPIRE-F15\SQLEXPRESS;Initial Catalog=TeamDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>